
.idea/Bravo_recommander.iml
.idea/codeStyles/codeStyleConfig.xml
.DS_Store
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
